.login {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
    width: 100%;
    margin-top: 70px;
}

.login > form {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 0 auto;
    padding: 5px;

    div {
        display: flex;
        justify-content: center;
    }

    input {
        height: 30px;
        margin-top: 5px;
        margin-bottom: 5px;
        border-color: rgb(233, 228, 228);
        border-width: 1px;
    }

    button {
        height: 30px;
        background-color: rgba(113, 255, 255, 0.4);
        border: rgba(113, 255, 255, 0.274);;
    }

    fieldset {
        margin-top: 10px;
        padding: 8px;
        legend {
            font-size: 15px;
            margin:0  auto;
        }
    }
}

.logo {
    margin: 0 auto;
    height: 60px;
    width: 80px;
    cursor: pointer;
}

.google_logo {
    height: 20px;
    width: 20px;
    cursor: pointer;
}