.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
    height: 100px;

    .menus {
        display: flex;
        margin-right: 5px;
    }

    .logo {
        width: 100px;
        height: 70px;
        margin-left: 10px;
    }
    
    button {
        border: none;
        background-color: white;
        cursor: pointer;
    }
}

